body {
    background-color: #2D4BA2;
}

div {
    background-color: #2D4BA2;
}

.container {
    padding: 0px;
}


.input-group {
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-wrap: nowrap;
}

.teste {
    width: 50%;
    margin: 0px auto;
}

input {
    border: none;
    width: 100%;
}

span {
    width: 10%;
}

a {
    color: white;
    padding-left: 10px;
    text-decoration: none;
}

#aaa {
    text-align: right;
}